<!DOCTYPE >
<html lang="pt-pr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum Jackson Aguiar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="content">
      <section class="contact">
        <img id="photo" class="photo-img" src="https://avatars.githubusercontent.com/u/40011417?v=4" alt="" />
 
        <div class="info">
          <h1 id="info-name">Jackson Wellington Silva de Aguiar</h1>
          <h6>
            Telefone:
            <span id="info-phone">(84) 994763809</span>
            <br />
            E-mail:
            <span id="info-email">jacksonwellington.sa@gmail.com</span>
            <br />
            Portfólio:
            <span id="info-port">
              <a  href="https://jacksonaguiar.github.io/portifolio_jackson/">
              Ver portfolio</a></span>
          </h6>
        </div>
      </section>
      <br />
      <h3>Habilidades</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Desenvolvimento Front-end
          <span class="badge bg-secondary"> Angular </span>
          <span class="badge bg-secondary"> Javascript </span>
          <span class="badge bg-secondary"> Typescript </span>
          <span class="badge bg-secondary"> Reactjs </span>
          <span class="badge bg-secondary"> Html </span>
          <span class="badge bg-secondary"> Sass </span>
          <span class="badge bg-secondary"> Css </span>
          <span class="badge bg-secondary"> Styled-components </span>
        </li>
        <li class="list-group-item">
          Desenvolvimento Back-end
          <span class="badge bg-dark"> Java</span>
          <span class="badge bg-dark"> Javascript </span>
          <span class="badge bg-dark"> Typescript </span>
          <span class="badge bg-dark"> NodeJS </span>
          <span class="badge bg-dark"> Spring-boot </span>
          <span class="badge bg-dark"> SQL </span>
          <span class="badge bg-dark"> NoSql </span>
          <span class="badge bg-dark"> MongoDB </span>
          <span class="badge bg-dark"> PostgresSQL </span>
          <span class="badge bg-dark"> MySql </span>
        </li>
        <li class="list-group-item">
          Desenvolvimento Mobile
          <span class="badge bg-primary"> Flutter </span>
          <span class="badge bg-primary"> Ionic5 </span>
          <span class="badge bg-primary"> Kotlin </span>
          <span class="badge bg-primary"> React Native </span>
        </li>
        <li class="list-group-item">
          Arquitetura de Sistemas
          <span class="badge bg-success"> Desing patterns </span>
          <span class="badge bg-success"> Estruturas de dados </span>
        </li>
      </ul>

      <br />
      <h3>Experiências</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Pesquisador bolsista Game Design <strong>CNPQ/IFRN</strong>
        </li>
        <li class="list-group-item">
          Desenvolvedor Full-Stack <strong>Hubbi Software</strong>
        </li>
        <li class="list-group-item">
          Desenvolvedor Mobile <strong>SalveANoiva media group</strong>
        </li>
        <li class="list-group-item">
          Desenvolvedor Full-Stack <strong>App2All</strong>
        </li>
      </ul>
      <br />
      <h3>Educação</h3>

      <ul class="list-group">
        <li class="list-group-item">Técnico em informática IFRN</li>
        <li class="list-group-item">
          Bacharelado em Tecnologia da informção UFRN
        </li>
        <li class="list-group-item">
          Bacharelado em Engenharia da computação INTELI
        </li>
      </ul>
      <br />
      <h3>Interesses</h3>
      <p>
        Atualmente venho me aprofundando na área de desenvolvimento, me
        permitindo a desafios em desenvolvimento mobile utilizando as
        tecnologias do Flutter e a linguagem de programação Dart, além de
        melhorar minhas habilidades em Typescript e Back-end com NodeJS.
      </p>
      <!-- <h3>Recomendações</h3>
      <span>Adiconar frases de recomendação: </span> -->
     
      <!-- <div class="item">
        <input type="text" id="input-description" />
        <input type="text" id="input-id" hidden />
        <button id="add-button" onclick="createRecomendation()">Adicionar</button>
        <button id="edit-button" onclick="updateRecomendation()">Editar</button>
      </div>
      <br>
      <div id="recomendations-list">
  
      </div> -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>